@font-face {
	font-family: "Pokemon";
	src: url("./Pokemon-Hollow.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: red;
	padding: 0 20px 20px 20px;
}

p#nome {
	font-family: "Pokemon";
	font-size: 40px;
	color: #fff;
}
